# Visual Studio workspace files
.vs/

# OS junk
.DS_Store
Thumbs.db

# Local environment / secrets (never commit these)
*.env

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
